name: Build and Test

on: pull_request  

permissions:
  contents: read

jobs:
  mac_build_and_test:
    if: github.repository == 'ml-explore/mlx-swift'
    runs-on: [self-hosted, macos]
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-macos
      - uses: ./.github/actions/build-macos
